<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyeon.mapper.BoardMapper">
<!-- 	리스트 -->
	<select id="list" resultType="com.suyeon.dto.BoardDto">
		select * from spring_board where category = #{category};
	</select>
<!-- 	읽기 -->
	<select id="read" resultType="com.suyeon.dto.BoardDto">
		select * from spring_board where num = #{num};
	</select>
<!-- 	조회수 -->
	<update id="viewCount">
		update spring_board set hits = hits+1 where num = #{num};
	</update>
<!-- 	삭제 -->
	<delete id="del">
	delete from spring_board where num = #{num};
	</delete>
<!-- 	쓰기 -->
	<insert id="write">
		insert into spring_board (title, content, category) values (#{title}, #{content}, #{category});
	</insert>
<!-- 	수정 -->
	<update id="modify">
		update spring_board set title = #{title} , content = #{content}, category = #{category} where num = #{num};
	</update>
	
	<!--========= 좋아요 =============-->
	
<!-- 게시글 추천 중복 방지 select문 -->
<select id="likeCheck" parameterType="map" resultType="int">
select count(*) from likes where num = #{num} and user_id = #{user_id}
</select>

<!-- 게시글 추천 시  like 테이블에 insert -->
<insert id="insertLike" parameterType="com.suyeon.dto.BoardDto">
  insert into likes(num, user_id) values (#{num}, #{user_id});
</insert>

<!-- 	게시글 추천수 -->
<update id="updateLike" >
update spring_board set like_count = like_count + 1 where num = #{num}
</update>

<!-- 	게시글 추천수 취소 -->
<update id="updateLikeCancel" >
update spring_board set like_count = like_count - 1 where num = #{num}
</update>



<!-- 게시글 추천 취소 시 delete -->
<delete id="deleteLike">
delete from likes where num = #{num} and user_id = #{user_id}
</delete>

<!-- 게시글 추천 시 Check를 1로 만들어서 중복 방지 -->
<update id="updateLikeCheck" >
update likes set like_check = 1 where num = #{num} and user_id = #{user_id}
</update>

<!-- 게시글 추천 취소 시 다시 0 -->
<update id="updateLikeCheckCancel">
update likes set like_check = 0 where num = #{num} and user_id = #{user_id}
</update>
	
</mapper>