<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyeon.mapper.ReservationMapper">

<insert id="selectedDate">
	insert into mypage(reserve_type, date1, date2, user_id) values (#{reserve_type},#{date1}, #{date2}, #{user_id});
</insert>
<select id="mypage" resultType="com.suyeon.dto.ReservationDto">
	select * from mypage where user_id = #{user_id};
</select>
</mapper>